In [1]:
import polars as pl
import pandas as pd
import preprocessing.transform_data as td

In [2]:
df_raw = pl.read_parquet("data/2022_data_ST4000DM000.parquet")

In [3]:
serial_nr = td.get_serial(df_raw)

In [4]:
# Yield successive n-sized
# chunks from l.
def divide_chunks(l, n):
     
    # looping till length l
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [5]:
chunks = divide_chunks(serial_nr, 1500)

In [6]:
counter = 1

for l in chunks:
    my_index = pd.MultiIndex(levels=[[],[]],codes=[[],[]], names=["instances","timepoints"])
    df_rocket = pd.DataFrame(columns= td.feature_list(target=False), index= my_index)
    df_rocket = td.transform_all(df_raw,l, df_rocket)
    df_rocket.to_parquet(f"./data/datachunks/chunk{counter}.parquet")
    counter += 1

0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 1500
100 of 1500
200 of 1500
300 of 1500
400 of 1500
500 of 1500
600 of 1500
700 of 1500
800 of 1500
900 of 1500
1000 of 1500
1100 of 1500
1200 of 1500
1300 of 1500
1400 of 1500
0 of 940
100 of 940
200 of 940
300 of 940
400 of 940
500 of 940
600 of 940
700 of 940
800 of 940
900 of 940

In [7]:
df_old = pd.DataFrame()
for i in range(1,14):
    df_new = pd.read_parquet(f"data/datachunks/chunk{i}.parquet")
    df_old = pd.concat([df_old, df_new])

In [8]:
df_old

                      smart_1_raw  smart_3_raw  smart_4_raw  smart_5_raw  \
instances timepoints
0         0            57293128.0          0.0         10.0          0.0
          1           222793344.0          0.0         10.0          0.0
          2            73042800.0          0.0         10.0          0.0
          3           207837040.0          0.0         10.0          0.0
          4            12126328.0          0.0         10.0          0.0
...                           ...          ...          ...          ...
23641     9           150730024.0          0.0          6.0          0.0
          10            5935920.0          0.0          6.0          0.0
          11           73476608.0          0.0          6.0          0.0
          12          174036656.0          0.0          6.0          0.0
          13           19337352.0          0.0          6.0          0.0

                      smart_7_raw  smart_9_raw  smart_10_raw  smart_12_raw  \
instances timepoints
0         0           353905178.0      58103.0           0.0          10.0
          1           355108650.0      58126.0           0.0          10.0
          2           357104171.0      58150.0           0.0          10.0
          3           359671059.0      58174.0           0.0          10.0
          4           361958335.0      58198.0           0.0          10.0
...                           ...          ...           ...           ...
23641     9           723755690.0      60937.0           0.0           6.0
          10          726262104.0      60961.0           0.0           6.0
          11          727657273.0      60984.0           0.0           6.0
          12          729290567.0      61008.0           0.0           6.0
          13          730623445.0      61032.0           0.0           6.0

                      smart_187_raw  smart_188_raw  ...  smart_188_normalized  \
instances timepoints                                ...
0         0                     0.0            0.0  ...                 100.0
          1                     0.0            0.0  ...                 100.0
          2                     0.0            0.0  ...                 100.0
          3                     0.0            0.0  ...                 100.0
          4                     0.0            0.0  ...                 100.0
...                             ...            ...  ...                   ...
23641     9                     0.0            0.0  ...                 100.0
          10                    0.0            0.0  ...                 100.0
          11                    0.0            0.0  ...                 100.0
          12                    0.0            0.0  ...                 100.0
          13                    0.0            0.0  ...                 100.0

                      smart_192_normalized  smart_193_normalized  \
instances timepoints
0         0                          100.0                  80.0
          1                          100.0                  80.0
          2                          100.0                  80.0
          3                          100.0                  80.0
          4                          100.0                  80.0
...                                    ...                   ...
23641     9                          100.0                  95.0
          10                         100.0                  95.0
          11                         100.0                  95.0
          12                         100.0                  95.0
          13                         100.0                  95.0

                      smart_194_normalized  smart_197_normalized  \
instances timepoints
0         0                           22.0                 100.0
          1                           22.0                 100.0
          2                           22.0                 100.0
          3                           22.0                 100.0
          4                           21.0                 100.0
...                                    ...                   ...
23641     9                           26.0                 100.0
          10                          26.0                 100.0
          11                          26.0                 100.0
          12                          26.0                 100.0
          13                          26.0                 100.0

                      smart_198_normalized smart_199_normalized faildate  \
instances timepoints
0         0                          100.0                200.0      NaT
          1                          100.0                200.0      NaT
          2                          100.0                200.0      NaT
          3                          100.0                200.0      NaT
          4                          100.0                200.0      NaT
...                                    ...                  ...      ...
23641     9                          100.0                200.0      NaT
          10                         100.0                200.0      NaT
          11                         100.0                200.0      NaT
          12                         100.0                200.0      NaT
          13                         100.0                200.0      NaT

                     Time_till_failure  failing_in14days
instances timepoints
0         0                        NaT               0.0
          1                        NaT               0.0
          2                        NaT               0.0
          3                        NaT               0.0
          4                        NaT               0.0
...                                ...               ...
23641     9                        NaT               0.0
          10                       NaT               0.0
          11                       NaT               0.0
          12                       NaT               0.0
          13                       NaT               0.0

[6688752 rows x 40 columns]

In [9]:
# code courtesy of jezrael on stackoverflow (https://stackoverflow.com/questions/46445965/reset-a-recurring-multiindex-in-pandas)
a1 = df_old.index.get_level_values(0).to_series()
a2 = a1.ne(a1.shift()).cumsum() - 1

mux = pd.MultiIndex.from_arrays([a2, df_old.index.get_level_values(1)], names=df_old.index.names)

df_old.index = mux

In [10]:
from sktime.transformations.panel.rocket import Rocket
from sktime.datatypes import convert,convert_to,mtype,check_raise

In [11]:
rocket = Rocket()

In [12]:
rocket.fit(df_old)

TypeError: X must be in an sktime compatible format, of scitype Series, Panel or Hierarchical, for instance a pandas.DataFrame with sktime compatible time indices, or with MultiIndex and last(-1) level an sktime compatible time index. Allowed compatible mtype format specifications are: ['pd.Series', 'pd.DataFrame', 'np.ndarray', 'nested_univ', 'numpy3D', 'pd-multiindex', 'df-list', 'pd_multiindex_hier'] . See the data format tutorial examples/AA_datatypes_and_datasets.ipynb. If you think the data is already in an sktime supported input format, run sktime.datatypes.check_raise(data, mtype) to diagnose the error, where mtype is the string of the type specification you want. Error message for checked mtypes, in format [mtype: message], as follows: [pd.DataFrame: <class 'pandas.core.indexes.multi.MultiIndex'> is not supported for X, use one of (<class 'pandas.core.indexes.range.RangeIndex'>, <class 'pandas.core.indexes.period.PeriodIndex'>, <class 'pandas.core.indexes.datetimes.DatetimeIndex'>) or integer index instead.]  [pd.Series: X must be a pandas.Series, found <class 'pandas.core.frame.DataFrame'>]  [np.ndarray: X must be a numpy.ndarray, found <class 'pandas.core.frame.DataFrame'>]  [df-list: X must be list of pd.DataFrame, found <class 'pandas.core.frame.DataFrame'>]  [numpy3D: X must be a numpy.ndarray, found <class 'pandas.core.frame.DataFrame'>]  [pd-multiindex: X should not have column of 'object' dtype]  [nested_univ: X All columns must be object, found <class 'pandas.core.frame.DataFrame'>]  [pd_multiindex_hier: X should not have column of 'object' dtype]

In [13]:
X_train2 = convert(df_old,from_type="pd-multiindex", to_type="df-list")